/* EMPLOYEEINDEX.HTML CSS HERE */
body {
    background-image: url("xmas-background.png");
    background-size: 100%, 700px;
    background-repeat: no-repeat;
    }
#b-card{
    background-color: whitesmoke;
    padding:20px;
    /* width:710px; */
    position:relative;
    background: rgb(216, 216, 216); /* Fallback for older browsers without RGBA-support */
    background: rgba(184, 184, 184, 0.5);
}
#button1,{
    display: inline-block;
}
.card-title{
    text-align: center;
    font-size: 80px;
    color: #CFB53B; 
}
h4 {
    font-family: 'Parisienne', cursive;
}
h5 {
    font-family: 'Parisienne', cursive;
    font-size: 22pt;
    color: rgb(196, 4, 4); 
    text-align: center;
}

/* CUSTOMERINDEX.HTML CSS HERE */
h6{
    color: beige;
    font-size: 25px;
    display: block;
    margin: auto;
    text-align: center;
}
#exampleFormControlSelect1{
    margin: auto;
    width: 90%;
    opacity: .87;
    color: black;
}
#exampleFormControlSelect1:hover{
    box-shadow: 6px 6px 15px white;
}
#exampleFormControlSelect2{
    margin: auto;
    width: 90%;
    opacity: .87;
    color: black;
}
#exampleFormControlSelect2:hover{
    box-shadow: 6px 6px 15px white;
}
#exampleFormControlSelect3{
    margin: auto;
    width: 90%;
    opacity: .87;
    color: black; 
}
#exampleFormControlSelect3:hover{
    box-shadow: 6px 6px 15px white;
}
#exampleFormControlSelect4{
    margin: auto;
    width: 90%;
    opacity: .87; 
    color: black; 
}
#exampleFormControlSelect4:hover{
    box-shadow: 6px 6px 15px white;
}
#exampleFormControlSelect5{
    margin: auto;
    width: 90%;
    opacity: .87;
    color: black; 
}
#exampleFormControlSelect5:hover{
    box-shadow: 6px 6px 15px white;
}
.btn-secondary{
    margin: auto;
    width: 90%;
    background-color: green;
    color: #CFB53B;
}
.btn-secondary:hover{
    box-shadow: 6px 6px 15px #D14641;
    background-color: green;
}






/* ADMIN INDEXES CSS HERE */
.container{
    height: 780px;
}
/* #admin-body{
    background-image: url("christmas-images-red-christmas-decorations-hd-wallpaper-and-within-christmas-ornament-wallpaper.jpg");
} */
h2{
    font-family: 'Parisienne', cursive;
    font-size: 35pt;
}
.col-8{
border-style: solid;
border-color: #000;
height: 500px;
font-family: 'Parisienne', cursive;
    font-size: 28pt;
}
.col-4{
    font-family: 'Parisienne', cursive;
    font-size: 28pt;
    border-style: solid;
    border-color: #000;
    height: 500px;
    width: 500px;
}
.input-group{
    margin-bottom: 155px;
}
.input-group-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}





/* SEQUELIZE BUTTONS CSS HERE */