body{
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-size: 1500px 900px;
}
.card{
    display: block;
    margin: auto;
    width: 47%;
}
#button1,{
    display: inline-block;
}
.card-title{
    text-align: center;
}
h5{
    font-family: 'Parisienne', cursive;
    font-size: 22pt;
}