body{
   background-image: url("pexels-photo-1303085.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 1450px;
}
.container{
    margin-top: 30px;
    border-style: solid;
  border-color: #000;
  height: 790px;
  margin-bottom: 50px;
  background-color: white;
  opacity: 0.85;
}
.container:hover{
  box-shadow: 8px 10px 35px #EB3323;
}
h1{
    text-align: center;
    font-size: 45pt;
    color: #CFB53B;
    font-family: 'Parisienne', cursive;
}
span{
  color: #EB3323;
}
hr{
    background-color: #EB3323;
}
.col-lg-1{
  display: block;
  margin-left: 25px;
  border-style: solid;
  border-color: #000;
  height: 400px;
  font-size: 9pt;
  font-family: 'Parisienne', cursive;
}
.seven-cols{
    margin-top: 10px;
    background-color: white;
    opacity: 0.65;
}
#image-col{
    border-style: solid;
  border-color: #000;
  margin-left: 25px;
  background-color: white;
  opacity: 0.65;
  font-family: 'Parisienne', cursive;
  font-size: 9pt;
}
#description-col{
    margin-top: 25px;
    border-style: solid;
  border-color: #000;
  margin-left: 38px;
  height: 300px;
  background-color: white;
  opacity: 0.65;
  font-family: 'Parisienne', cursive;
  font-size: 9pt;
}
.shopper-css{
  width: 15%;
  margin-left: 900px;
  border-style: solid;
  border-color: #000;
  background-color: white;
  opacity: 0.65;
}
button{
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  /* 14% = 100% (full-width row) divided by 7 */
  
  img{
    max-width: 100%;
  }