<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
  <title>Christmas Toy Store!</title>
</head>

<body>
  {{{body}}}
</body>

</html>