<link rel="stylesheet" href="styles/customerPageStyle.css" media="screen" title="no title" charset="utf-8">

<br>
<!-- <div class="card"> -->
<!-- <img class="card-img-top" src="download.jpg" alt="toys" height="200" width="170"> -->
<!--  <div class="card-body"> -->

<h4 class="card-title">{{msg}}</h4>
<div class="card-body container jumbotron bg-danger">
    <div class="form-group">
        <h5 for="exampleFormControlSelect1">1. Is your child reckless?</h5>

        <select class="form-control" id="exampleFormControlSelect1">
            <option value="" selected="selected">select a value</option>
            <option value="1">1 (Stringly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Stringly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <h5 for="exampleFormControlSelect2">2. Is your child annoying?</h5>
        <select class="form-control" id="exampleFormControlSelect2">
            <option value="" selected="selected">select a value</option>
            <option value="1">1 (Stringly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Stringly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <h5 for="exampleFormControlSelect3">3. Is your child strategic?</h5>
        <select class="form-control" id="exampleFormControlSelect3">
            <option value="" selected="selected">select a value</option>
            <option value="1">1 (Stringly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Stringly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <h5 for="exampleFormControlSelect4">4. Is your child dexterous?</h5>
        <select class="form-control" id="exampleFormControlSelect4">
            <option value="" selected="selected">select a value</option>
            <option value="1">1 (Stringly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Stringly Agree)</option>
        </select>
    </div>
    <div class="form-group">
        <h5 for="exampleFormControlSelect5">5. Is your child antisocial?</h5>

        <select class="form-control" id="exampleFormControlSelect5">
            <option value="" selected="selected">select a value</option>
            <option value="1">1 (Stringly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Stringly Agree)</option>
        </select>
    </div>

    <br>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Find My Toy</button>
    <br>
    <a href="/">← Back To Home</a>

</div>