/* EMPLOYEE INDEXES CSS HERE */
.container{
    height: 880px;
}
body {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)), url("250px-60155-santa.png");
    /* background-image: url('/images/christmas-images-red-christmas-decorations-hd-wallpaper-and-within-christmas-ornament-wallpaper.jpg'); */
    background-size: 100%, 700px;
    background-position: right, right bottom;
    }
h2{
    font-family: 'Parisienne', cursive;
    font-size: 35pt;
    border-style: solid;
    border-color: #000;
    width: 60%;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    background-color: #D14641;
}
@keyframes example {
    from {background-color: white;}
    to {background-color: #D14641;}
  }
  label{
    font-family: 'Parisienne', cursive;
    -webkit-animation-name: text; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: text;
    animation-duration: 4s;
  }
  @keyframes text {
    from {color: white;}
    to {color: #D14641;}
  }
.col-8{
    border-style: solid;
    border-color: #000;
    -webkit-animation-name: text; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: text;
    animation-duration: 4s;
    height: 800px;
    font-family: 'Parisienne', cursive;
    font-size: 28pt;
    color:#D14641;
    background-color: white;
    opacity: 0.85;
    overflow: scroll;
}
.col-8:hover, .col-4:hover {
    box-shadow: 6px 6px 15px #000;
    margin-bottom: 1px;
}
h2:hover{
    box-shadow: 6px 6px 15px #000000;
}
.row-2{
    float: right;
    overflow: hidden;
}
.col-4{
    font-family: 'Parisienne', cursive;
    font-size: 28pt;
    color:#D14641;
    border-style: solid;
    border-color: #000;
    background-color: white;
    opacity: 0.85;
    /* width: 600px; */
    /* float: left; */
    overflow: hidden;
}

.input-group{
    margin-bottom: 155px;
}
.input-group-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}
.form-group{
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.btn-secondary{
    background-color: #D14641;
}

table {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Parisienne', cursive;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* THE MODAL BACKGROUND */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MODAL CONTENT BOX */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* CLOSE BUTTON STYLE */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
