/* EMPLOYEEINDEX.HTML CSS HERE */
body {
    background-image: url("/images/xmas-background.png");
    background-size: 100%, 700px;
    background-repeat: no-repeat;
    }
#b-card{
    background-color: whitesmoke;
    padding:20px;
    /* width:710px; */
    position:relative;
    background: rgb(216, 216, 216); /* Fallback for older browsers without RGBA-support */
    background: rgba(184, 184, 184, 0.5);
}
#button1,{
    display: inline-block;
}
.card-title{
    text-align: center;
    font-size: 80px;
    color: #CFB53B; 
}
h4 {
    font-family: 'Parisienne', cursive;
}
h5 {
    font-family: 'Parisienne', cursive;
    font-size: 22pt;
    color: rgb(196, 4, 4); 
    text-align: center;
}

/* CUSTOMERINDEX.HTML CSS HERE */
h6{
    color: beige;
    font-size: 25px;
    display: block;
    margin: auto;
    text-align: center;
}
.form-control{
    margin: auto;
    width: 90%;
    opacity: .87;
    color: black;
}
.form-control:hover{
    box-shadow: 6px 6px 15px white;
}

.btn-secondary{
    margin: auto;
    width: 90%;
    background-color: green;
    color: #CFB53B;
}
.btn-secondary:hover{
    box-shadow: 6px 6px 15px #D14641;
    background-color: green;
}

/* ADMIN INDEXES CSS HERE */
.container{
    height: 780px;
}
/* #admin-body{
    background-image: url("christmas-images-red-christmas-decorations-hd-wallpaper-and-within-christmas-ornament-wallpaper.jpg");
} */
h2{
    font-family: 'Parisienne', cursive;
    font-size: 35pt;
}
.col-8{
border-style: solid;
border-color: #000;
height: 500px;
font-family: 'Parisienne', cursive;
    font-size: 28pt;
}
.col-4{
    font-family: 'Parisienne', cursive;
    font-size: 28pt;
    border-style: solid;
    border-color: #000;
    height: 500px;
    width: 500px;
}
.input-group{
    margin-bottom: 155px;
}
.input-group-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}


/* THE MODAL BACKGROUND */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MODAL CONTENT BOX */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* CLOSE BUTTON STYLE */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


